html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}



.container {
    background-image: url('../Images/Background-image.jpg');
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Set container height to viewport height */
    overflow-y: auto;
    z-index: -1;
}

.content-container {
    padding: 100px 20px;
    z-index: 1;
    position: relative;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 20px;
}

.menu li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
}

.menu li a:hover {
    transform: translateY(-5px) scale(1.1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}

.parallax {

}



.Box {
    width: 400px;
    padding: 50px;
    text-align: center;
    margin: 20px auto 20px 20px;
}

.image-box {
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 80px ;
    height: auto;
    border-radius: 20px;
}



.login-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    color: white;
    z-index: 999;
}

.login-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.login-button:hover {
    background-color: white;
    color: black;
}





