<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация за уебсайта</title>
    <link rel="stylesheet" href="../static/CSS/MenuBar.css" th:href="@{/CSS/MenuBar.css}">
</head>
<body>
<div class="container">
    <header>
        <img src="../Logo/logo.png" alt="Logo" class="logo">
        <nav>
            <ul class="menu">
                <li><a th:href="@{/Home}">Главна страница</a></li>
                <li><a th:href="@{/about}">За нас</a></li>
                <li><a th:href="@{/gallery}">Галерия</a></li>
                <li><a th:href="@{/companies}">Компании</a></li>
            </ul>
        </nav>
    </header>
</div>
<script src="../JavaScript/MenuBar.js"></script>
</body>
</html>
