<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Информация за уебсайта</title>
    <link rel="stylesheet" href="../static/CSS/MenuBar.css" th:href="@{/CSS/MenuBar.css}">
</head>
<body>
<div class="container">
    <header>
        <img src="../static/Images/logo.png" alt="Logo" class="logo" th:src="@{/Images/logo.png}">
        <nav>
            <ul class="menu">
                <li><a th:href="@{/Home}">Главна страница</a></li>
                <li><a th:href="@{/about}">За нас</a></li>
                <li><a th:href="@{/gallery}">Галерия</a></li>
                <li><a th:href="@{/companies}">Компании</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/companies}">Заявки</a>
                <li sec:authorize="isAnonymous()"><button th:onclick="|window.location.href='/RegistrationForm'|" class="fixed-element">Login/Register</button></li>
                <li sec:authorize="isAuthenticated()"><button sec:authentication="principal.username" class="fixed-element">email@here</button></li>
            </ul>
        </nav>
    </header>
</div>
<script src="../JavaScript/MenuBar.js"></script>
</body>
</html>
