<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Главна страница</title>
  <link rel="stylesheet" href="../static/CSS/MenuBar.css" th:href="@{CSS/MenuBar.css}">
</head>
<body>
<div class="container">
  <img src="../Logo/logo.png" alt="Logo" class="logo">
  <header>
    <nav>
      <ul class="menu">
        <li><a href="../HTML/Home.html">Главна страница</a></li>
        <li><a href="../HTML/About.html">За нас</a></li>
        <li><a href="../HTML/Gallery.html">Галерия</a></li>
        <li><a href="../HTML/Companies.html">Компании</a></li>
      </ul>
    </nav>
  </header>

</div>

<div class="Box">
  <section class="parallax">
    <h1>Добре дошли в TravelWorld!</h1>
    <p>Открийте най-удобния начин за пътуване с нашите автобусни услуги.</p>
    <img src="../Images/Bus.jpg" class="image-box" alt="Bus image">
    <img src="../Images/Buses.jpg" alt="Bus image2">
  </section>
</div>

<div class="content">
  <h2>За нас</h2>
  <p>Ние сме водеща компания в предлагането на автобусни услуги за всеки тип пътуване. Нашите професионални и опитни шофьори, съвременни автобуси и персонализирани решения правят вашето пътуване приятно и безпроблемно.</p>
  <a href="../HTML/About.html">Научете повече</a>
</div>

<script src="../JavaScript/MenuBar.js"></script>
</body>
</html>
